 <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<div class="panel panel-default">
                <div class="panel-heading">{{title}}</div>
                <div class="panel-body">
                    <div class="posts">
                        <ul class="posts list-unstyled">
                            <li *ngFor="let post of posts">
                                <h2><a href="/post/{{ post.id }}">{{ post.title}}</a></h2>
                                <span class="post-date">{{ default.formatDate(post.created) }}</span>
                                <p>{{ formatExcerpt(post.content) }}</p>
                            </li>
                        </ul>
                    </div> <!-- /.posts -->
                </div> <!-- /.panel-body -->
           </div> <!-- /.panel-default -->
         </div> <!-- /.col-md-10 -->
     </div> <!-- /.row -->
</div> <!-- /.container -->