 <div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        	<div class="panel panel-default">
                <div *ngFor="let pageAnchor of totalPages">
                    <div id="page-{{ pageAnchor }}"></div>
                </div>
                <div class="panel-heading"><a [routerLink]="['Posts', { page: 1 }]">{{title}}</a></div>
                <div class="panel-body">
                    <div class="posts-container">
                        <ul class="posts list-unstyled">
                            <li *ngFor="let post of posts">
                                <h2><a [routerLink]="['Post', { id: post.id }]">{{ post.title}}</a></h2>
                                <span class="post-date">{{ default.formatDate(post.created) }}</span>
                                <p>{{ formatExcerpt(post.content) }}</p>
                            </li>
                        </ul>
                        <nav class="posts-pagination">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li *ngFor="let page of totalPages; let index = index" [class.active]="index === 0" (click)="getMorePosts(page)">
                                    <a href="#page-{{page}}" class="page-{{ page }}">{{ page }}</a>
                                </li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul> <!-- ./ pagination -->
                        </nav> <!-- ./ nav-->
                    </div> <!-- /.posts -->
                </div> <!-- /.panel-body -->
           </div> <!-- /.panel-default -->
         </div> <!-- /.col-md-10 -->
     </div> <!-- /.row -->
</div> <!-- /.container -->
<router-outlet></router-outlet>