<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading"><a href="/">Posts</a>&nbsp;&nbsp;>&nbsp;&nbsp;{{ post.title}}</div>
                <div class="panel-body posts">
                    <h2>{{ post.title }}</h2>
                    <p><span class="post-date">{{  default.formatDate(post.created) }}</span></p>
                    <p [innerHtml]="post.content"></p>
                </div>
            </div>
        </div>
    </div>
</div>